/*----------------FONTS----------------*/

@import url('https://fonts.googleapis.com/css?family=Padauk');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Padauk');

/*----------------BASE----------------*/

html {
    font-size: 16px;
}

body {
    font-family: 'Padauk', sans-serif;
    background: #4CAF50;
    color: #212121;
}

h1 {
    font-family: 'Padauk', sans-serif;
    font-size: 3rem;
}


/*---------------TABLE-----------------*/

table {
    margin: 0 auto;
    margin-top: 2.5rem;
    width: 40vw;
    color: #FAFAFA;
}

th {
    background: #212121;
}


/*---------------FORM----------------*/

#content,
input {
    text-align: center;
}

button {
    width: 10vw;
    height: 5vh;
    border: none;
    border-radius: 0.5rem;
    margin-left: 1rem;
}

input {
    width: 12vw;
    height: 4.5vh;
    font-size: 0.8rem;
}

form button {
    background: #212121;
    color: #FAFAFA;
}

form button:active {
    background: #CDDC39;
}

table button {
    background: #FFCA28;
}

table td button:hover:nth-child(2) {
    background: #C62828;
    color: #FAFAFA;
}

table td button:hover:nth-child(1) {
    background: #E65100;
    color: #FAFAFA;
}

button {
    font-size: 0.9rem;
    transition: all 0.5s ease-out;
}